.filter {
  min-height: 30px;
}

.header__filter__container {
  height: 80px;
  border-bottom: 3px solid cyan;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 600;
}

.header{
  text-align: center;
  padding-top: 0.7em;
}

.task__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid cyan;
  border-left: 1px solid cyan;
  height: 42px;
  font-size: 13px;
}

.task__item__selected {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid cyan;
  border-left: 1px solid cyan;
  height: 42px;
  font-size: 13px;
  background: #fff168;
}

.task__item:hover {
  background: #fff168;
  cursor: pointer;
}

.task__name {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.tasks__info__wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 160px);
  min-width: 450px;
}

.tasks__info__wrapper::-webkit-scrollbar {
  width: 0px;
}